<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="com.bank.logic.dao.DAOImpl"/>

    <bean id="service" class="com.bank.logic.service.HibernateService">
        <constructor-arg ref="dao"/>
    </bean>

    <bean id="name" class="com.bank.logic.model.Person"/>

    <bean id="account" class="com.bank.logic.controller.auxiliary.AccountSectionImpl"/>

    <bean id="balance" class="com.bank.logic.controller.auxiliary.BalanceSectionImpl"/>

    <bean id="language" class="com.bank.logic.controller.auxiliary.LanguageSectionImpl"/>

    <bean id="scanner" class="com.bank.logic.controller.auxiliary.ScannerStubImpl"/>

    <bean id="controller" class="com.bank.logic.controller.MainLogicImpl">
        <constructor-arg index="0" ref="account"/>
        <constructor-arg index="1" ref="balance"/>
        <constructor-arg index="2" ref="language"/>
        <constructor-arg index="3" ref="scanner"/>
    </bean>

</beans>